<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
		<sectionGroup name="ak.net.json">
			<section name="conversion" type="AK.Net.Json.Configuration.JsonConversionSection, AK.Net.Json, Version=2.0.8.0, Culture=neutral, PublicKeyToken=2bab57af74bd36bf"/>
		</sectionGroup>
		<sectionGroup name="ak.net.json.rpc">
			<section name="services" type="AK.Net.Json.Rpc.Configuration.RpcServiceSection, AK.Net.Json.Rpc, Version=0.9.4.0, Culture=neutral, PublicKeyToken=2bab57af74bd36bf"/>
			<section name="proxy" type="AK.Net.Json.Rpc.Configuration.RpcProxyGeneratorSection, AK.Net.Json.Rpc, Version=0.9.4.0, Culture=neutral, PublicKeyToken=2bab57af74bd36bf"/>
		</sectionGroup>
		<section name="rcmap.web" type="RcMap.Web.Configuration.RcMapWebConfiguration, RcMap.Web"/>
	</configSections>
	<connectionStrings>
		<add name="rcmap-dev" connectionString=""/>
		<add name="rcmap-live" connectionString=""/>
	</connectionStrings>
	<rcmap.web emailsTo="" analyticsKey="UA-3623748-1" enableAnalytics="false" mapApiKey="ABQIAAAAyy94LUZxFionCeaKxOE-uBT3Iuqq8tUk4oIOQPucDpgVs60mwRRKDTvXiACUQFKonEsgVUG9QS09Tg" geoApiKey="ABQIAAAAyy94LUZxFionCeaKxOE-uBT3Iuqq8tUk4oIOQPucDpgVs60mwRRKDTvXiACUQFKonEsgVUG9QS09Tg">
		<exporters>
			<add key="kml" type="RcMap.Web.KmlLocationExporter, RcMap.Web"/>
			<add key="json" type="RcMap.Web.JsonLocationExporter, RcMap.Web"/>
			<add key="xml" type="RcMap.Web.XmlLocationExporter, RcMap.Web"/>
			<add key="rss" type="RcMap.Web.RssLocationExporter, RcMap.Web"/>
		</exporters>
	</rcmap.web>
	<castle>
		<components>
			<component id="Clock" type="RcMap.UtcSystemClock, RcMap.Core" service="RcMap.ISystemClock, RcMap.Core"/>
			<component id="IdentityResolver" type="RcMap.Web.WebIdentityResolver, RcMap.Web" service="RcMap.IIdentityResolver, RcMap.Core"/>
			<component id="nhibernate.session.interceptor" type="RcMap.Data.AuditableInterceptor, RcMap.Core" service="NHibernate.IInterceptor, NHibernate"/>
			<component id="Data.ClubRepository" service="RcMap.Data.IClubRepository, RcMap.Core" type="RcMap.Data.ClubRepository, RcMap.Core"/>
			<component id="Data.Repository" service="RcMap.Data.IRepository`1, RcMap.Core" type="RcMap.Data.Repository`1, RcMap.Core"/>
			<component id="Data.NamedEntityRepository" service="RcMap.Data.INamedEntityRepository`1, RcMap.Core" type="RcMap.Data.NamedEntityRepository`1, RcMap.Core"/>
			<component id="Data.CategoryRepository" service="RcMap.Data.ICategoryRepository, RcMap.Core" type="RcMap.Data.CategoryRepository, RcMap.Core"/>			
		</components>
		<facilities>
			<facility type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" id="nhibernate" isWeb="true" useReflectionOptimizer="false" defaultFlushMode="Commit">
				<factory id="rcmap.nhibernate.factory">
					<settings>
						<item key="hibernate.connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
						<item key="hibernate.dialect">NHibernate.Dialect.MsSql2005Dialect</item>
						<item key="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</item>
						<item key="hibernate.show_sql">true</item>
						<item key="hibernate.cache.provider_class">NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2</item>
						<item key="hibernate.cache.use_query_cache">true</item>
						<item key="hibernate.connection.connection_string_name">rcmap-dev</item>
						<item key="hibernate.connection.isolation">ReadCommitted</item>
						<item key="hibernate.default_schema">rcmap.dbo</item>
						<item key="relativeExpiration">300</item>
					</settings>
					<assemblies>
						<assembly>RcMap.Core</assembly>
					</assemblies>
				</factory>
			</facility>
		</facilities>
	</castle>
	<ak.net.json>
		<conversion circularReferencePolicy="Serialize">
			<converter type="RcMap.Model.Converters.CategoryConverter, RcMap.Web"/>
			<converter type="RcMap.Model.Converters.AddressConverter, RcMap.Web"/>
			<converter type="RcMap.Model.Converters.ClubConverter, RcMap.Web"/>
			<converter type="RcMap.Model.Converters.CountryConverter, RcMap.Web"/>
			<converter type="RcMap.Model.Converters.GeoPointConverter, RcMap.Web"/>
			<converter type="RcMap.Model.Converters.RegionConverter, RcMap.Web"/>
			<converter type="RcMap.Model.Converters.ShopConverter, RcMap.Web"/>
		</conversion>
	</ak.net.json>
	<ak.net.json.rpc>
		<services baseUrl="http://dev.rcmap.co.uk/services/">
			<service id="9F13363F-2F88-4040-9C2F-3160891572DF" type="RcMap.Web.Services.RcMapClubService, RcMap.Web"/>
			<service id="D4C53D2D-2E06-4d88-A565-594605C31436" type="RcMap.Web.Services.RcMapCategoryService, RcMap.Web"/>
		</services>
		<proxy>
			<handlers>
				<handler key="js" type="AK.Net.Json.Rpc.Http.Proxy.Handlers.JavaScriptProxyHandler, AK.Net.Json.Rpc, Version=0.9.4.0, Culture=neutral, PublicKeyToken=2bab57af74bd36bf" version="1.2.3.0"/>
			</handlers>
		</proxy>
	</ak.net.json.rpc>
	<log4net debug="false">
		<appender name="TelnetAppender" type="log4net.Appender.TelnetAppender, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
			<port value="23"/>
			<layout type="log4net.Layout.PatternLayout, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
				<conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.ffff} %level %logger{1}[%thread]: %message%newline"/>
			</layout>
		</appender>
		<logger name="NHibernate">
			<level value="WARN"/>
		</logger>
		<logger name="NHibernate.SQL">
			<level value="WARN"/>
		</logger>
		<logger name="RcMap">
			<level value="WARN"/>
		</logger>
		<root>
			<level value="OFF"/>
			<appender-ref ref="TelnetAppender"/>
		</root>
	</log4net>
	<system.web>
		<caching>
			<outputCache enableOutputCache="true"/>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="ContentPage" enabled="true" duration="600" varyByParam="none"/>
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
		<customErrors mode="RemoteOnly" defaultRedirect="~/error-pages/default.aspx">
			<error statusCode="404" redirect="~/error-pages/404.aspx"/>
		</customErrors>
		<authentication mode="Forms">
			<forms loginUrl="~/login.aspx">
				<credentials passwordFormat="SHA1">
					<user name="" password=""/>
				</credentials>
			</forms>
		</authentication>
		<httpHandlers>
			<add path="/services/club-service.ashx" verb="GET,POST" type="RcMap.Web.Services.RcMapClubService, RcMap.Web"/>
			<add path="/services/category-service.ashx" verb="GET,POST" type="RcMap.Web.Services.RcMapCategoryService, RcMap.Web"/>
			<add path="/services/proxy-generator.ashx" verb="GET" type="AK.Net.Json.Rpc.Http.Proxy.RpcProxyGenerator, AK.Net.Json.Rpc, Version=0.9.4.0, Culture=neutral, PublicKeyToken=2bab57af74bd36bf"/>
			<add path="/services/export-service.ashx" verb="GET" type="RcMap.Web.Services.LocationExporterService, RcMap.Web"/>
		</httpHandlers>
		<httpModules>
			<add name="NHibernateSessionWebModule" type="Castle.Facilities.NHibernateIntegration.Components.SessionWebModule, Castle.Facilities.NHibernateIntegration"/>
		</httpModules>
		<compilation debug="true">
			<assemblies>
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1B44E1D426115821"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="RcMap.Model"/>
				<add namespace="RcMap.Web"/>
			</namespaces>
			<controls>
				<add assembly="RcMap.Web" namespace="RcMap.Web.UI.Controls" tagPrefix="rcmap"/>
			</controls>
		</pages>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-1.2.1.4000" newVersion="1.2.1.4000"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
